[Unit]
Description=3proxy daemon
After=modem-init.service
Requires=modem-init.service
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/usr/local/bin/3proxy /home/pi/3proxy.cfg
User=root
Group=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
